

body {
    font-family: 'Dosis', sans-serif;
    background: rgb(255, 255, 255);
    overflow-x: hidden; 
}

.header-menu {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
    position: relative;
    background-size: cover;
}
.container {
    max-width: 60%;
    margin: 0 auto;
}
.top_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.nav_button {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.nav_button:after {
    display: block; 
    content: ""; 
    height: 3px; 
    width: 0%; 
    background-color: rgb(125, 238, 241);; 
    transition: width 0.4s ease-in-out; 
}
.nav_button:hover:after,
.nav_button:focus:after {
    width: 100%;
}
.nav_button:hover{
    color:rgb(125, 238, 241);;
} 
.nav_pic {
    position: relative;
    left: -16%;
}
.header-content {
    position: absolute;
    left:10%;
    right: 0;
    top: 20%; 
    bottom:0;
}
.hide-icon,
.game-png,


.icon-brain,
.icon-200,
.icon-group,
.text {
    position: absolute;
}
.hide-icon,
.game-png {
    margin-left: 15%;
    margin-top: 5%;
}
.hide-icon {
    margin-left: 12%;
    margin-top: 4%;
}

.icon-200 {
    margin-left: 55%;
    margin-top: 3%;
}

.icon-group {
    margin-top: 0;
    margin-left: 70%;
}

.icon-brain {
    margin-left: 63%;
    margin-top: 10%;
}
.text {
    margin-top: 15%;
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-left: 15%;
}
.main-tag {
    display: flex;
}
.tag-menu {
    display: inline-flex;
    position: relative;
    margin-top: 2%;
    gap: 10px;
    text-align: center;
    width: 100%;
    margin-left: 10%;
}
.tag-button {
    border: 2.5px solid #c1c2c5;
    box-sizing: border-box;
    border-radius: 15px;
    line-height: 45px;
    cursor: pointer;
    transition: 0.5s;
    width: 150px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
}
.tag-button:hover {
    color: blue;
    background: rgb(219, 218, 218);
    font-size: 18px;
    font-weight: 800;
}
.main-menu-bg {
    height: 2320px;
    background-image: url(../img/bg&polygons\ -\ games.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}
.footer-bg {
    width: 100%;
    height: 450px;
    background-image: url(../img/bg&polygons\ -\ footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}
.cards_menu {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.cards {
    display: grid;
    grid-template-columns: 560px 560px;
    grid-template-rows: repeat(5, 365px);
    background: none;
    gap: 20px;
}
.menu_item {
    background-image: url(../img/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
}
.item_logo {
    margin-left: 7%;
    margin-top: -2%;
}
.card_tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 52.5%;
    margin-left: -41%;
}
.item_tag {
    border: 1px solid #a7a8aa;
    box-sizing: border-box;
    border-radius: 15px;
    line-height: 35px;
    cursor: pointer;
    transition: 0.5s;
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.item_tag:hover {
    font-size: 15px;
    font-weight: 600;
}
.item_header {
    position: fixed;
    font-weight: 600;
    font-size: 26px;
    margin-left: 27%;
    margin-top: 3%;
}
.item_text {
    margin-top: 8%;
    margin-left: 27%;
    position: fixed;
    font-weight: 600;
    font-size: 16px;
    width: 220px;
    height: 209px;
    line-height: 1.5;
}
.raiting_10 {
    position: absolute;
    margin-left: 5%;
}
.footer-menu {
    display: grid;
    height: 50px;
    width: 100vh;
    grid-template-columns: repeat(6,150px);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    white-space: nowrap;
    text-transform: uppercase;
    word-spacing: 3px;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.scroll-menu {
    display: grid;
    grid-template-columns: repeat(7, 45px);
    grid-template-rows: repeat(1, 45px);
    gap: 10px;
    margin-left: 40.5%;
    text-align: center;
    background: none;
    margin-top: -250px;
    position: absolute;
}
.scroll {
    border: 2.5px solid #F2F4F9;
    box-sizing: border-box;
    border-radius: 15px;
    line-height: 45px;
    cursor: pointer;
    transition: 0.5s;
}
.scroll:hover {
    color: black;
    background: rgb(125, 238, 241);
    font-size: 18px;
    font-weight: 800;
}
.scroll1 {
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
}
.scroll1:hover {
    transform: scale(1.3);
}