@font-face {
    font-family: Lifehack-Sans;
    src: url(../fonts/Lifehack-Sans-Regular.ttf);
}

.intro {
    width: 100%;
    max-width: 1920px;
    height: 626px;
    margin: 0 auto;
    padding-top: 19px;
    background: url(../images/bg.png) top center;
    background-size: cover;
}

.main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: url(../images/bg&polygons.png) top center;
    background-size: cover;
}

.header {
    width: 63%;
    min-width: 700px;
    margin-left: 12.55%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.header-nav {
    width: 73.5%;
    height: 49px;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;

}

.nav__link {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: #D9D8E4;

    position: relative;
}

.nav__link::before {
    content: '';
    bottom: -3px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(240, 240, 240, 0.849);
    transition: .3s;
    transform: scaleX(0);
}

.nav__link:hover:before {
    transform: scaleX(1);    
}

.page-info {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.hexagon-area {
    width: 608px;
    height: 506px;
    position: relative;
}

.hexagon__left {
    position: absolute;
    top: 110px;
    left: 90px;
}

.hexagon__right {
    position: absolute;
    top: 75px;
    left: 335px;
}

.hexagon__bottom {
    position: absolute;
    top: 240px;
    left: 220px;
}

.hex_text {
    position: relative;
    left: 40px;
    bottom: 125px;

    z-index: 10;
    font-family: 'Lifehack-Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #2F73F6;
}

.hex_horse {
    position: relative;
    left: 50px;
    bottom: 125px;
    z-index: 10;
}

.hex-brain {
    position: relative;
    left: 50px;
    bottom: 125px;
    z-index: 10;
}

.page-title {
    width: 608px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: 'Lifehack-Sans', sans-serif;
    font-weight: 600;
    font-size: 120px;
    color: #FCFDFF;
}

.subtitle {
    font-family: 'Dosis', sans-serif;
    font-weight: 400px;
    line-height: 33.6px;
    font-size: 24px;
    color: #FFFFFF;
}

.container {
    width: 1160px;
    margin: 0 auto;
}


.genres {
    width: 511px;
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.game-genre {
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #9A98AF;
    background: transparent;
    border: 2px solid rgba(211, 211, 211, 0.938);
    padding: 8px 16px;
    border-radius: 14px;
}
.spin{
    margin-left: 60px;
}

.game-genre:hover {
    color: yellow;
    transition: .2s;
}
.adventure{
    color: #2376F2;
}

.game__item {
    width: 560px;
    height: 363px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
    border-radius: 30px;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.games {
    height: 2210px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* game left block */

.game-poster {
    position: absolute;
    top: -30px;
    width: 230px;
    height: 300px;
}

.poster-title {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

.game-cover {
    width: 230px;
    height: 330px;
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.age_tag {
    position: absolute;
    top: -14px;
    left: 16px;
    height: 42px;
    width: 54px;
    border-radius: 14px;
    background: #363078;
    font-size: 20px;
    line-height: 42px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

/* game right block */

.game-description {
    padding-top: 40px;
    width: 230px;
    height: 322px;
    font-family: Dosis;
}

.game-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 20px;
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.paragraph {
    margin-bottom: 10px;

}

.pagination {
    margin: 0 auto;
    margin-bottom: 114px;
    width: 404px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background: transparent;
    border: 2.5px solid #f2f4f900;

    font-family: Dosis;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #9594AA;
}

.button:hover {
    color: #2F73F6;
    font-weight: 700;
    border: 2.5px solid #2F73F6;
    transition: .4s;
}

.pag___num {
    border: 2.5px solid #F2F4F9;
}

.footer {
    width: 100%;
    max-width: 1920px;
    height: 502px;
    margin: 0 auto;
    background: url(../images/Vector\ 17.png) top center;
    background-size: cover;
    position: relative;
}

.footer-nav {
    position: absolute;
    top: 447px;
    left: 50%;
    transform: translateX(-50%);
    width: 767px;
    height: 19px;

    display: flex;
    justify-content: space-between;
}

.f-link {
    color: #FFFFFF;
}