@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

body {
    font-family: 'Dosis', sans-serif;
}

.header {
    background: #fff url("../images/header-bg.png") no-repeat;
    background-size: cover;
    height: 500px;
}

.header-nav {
    display: flex;
}

.nav-logo {
    margin: 19px 150px 0 150px;
}

.li-items {
    display: inline-block;
    margin: 49px 50px 0 0;
}

.li-items:last-child {
    margin-right: 0;
}

.items {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #D9D8E4;
    text-transform: uppercase;
}

.header-hero {
    display: flex;

}

.header-icons {
    display: flex;
}

.header-title {
    margin: 50px 0 0 270px;
}

.header-subtitle {
    margin: 10px 0 0 270px;
    width: 400px;
}

.title {
    font-weight: 600;
    font-size: 90px;
    text-transform: uppercase;
    color: #FCFDFF;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.icon-games,
.icon-horse,
.icon-knowledge{
    width: 140px;
    height: 140px;
}

.icon-games {
    margin: 45px 30px 0 0;
}

.icon-horse {
    margin: -8px 0 0 -59px;
}

.icon-knowledge {
    margin-top: 176px;
}

