@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

body {
    font-family: 'Dosis', sans-serif;
}

.header {
    position: absolute;
    background: #fff url("../images/header-bg.png") no-repeat;
    background-size: auto 500px;
    width: 100%;
}

.header-nav {
    display: flex;
}

.nav-logo {
    margin: 19px 150px 0 150px;
}

.li-items {
    display: inline-block;
    margin: 49px 50px 0 0;
}

.li-items:last-child {
    margin-right: 0;
}

.items {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #D9D8E4;
    text-transform: uppercase;
}

.header-title {
    margin: 30px 0 0 280px;
}

.header-subtitle {
    margin: 10px 0 0 280px;
    width: 608px;
}

.title {
    font-weight: 600;
    font-size: 120px;
    color: #FCFDFF;
    text-transform: uppercase;
}

.subtitle {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.icon-games {
    position: absolute;
    left: 875px;
    top: 142px;
}

.icon-horse {
    position: absolute;
    left: 1088px;
    top: 100px;
}

.icon-knowledge {
    position: relative;
    left: 1000px;
    top: -90px;
}

