@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

body {
    font-family: 'Dosis', sans-serif;
}

.header {
    background: #fff url("../images/header-bg.png") no-repeat;
    background-size: cover;
}

.header-nav {
    display: flex;
}

.nav-logo {
    margin: 19px 150px 0 150px;
}

.li-items {
    display: inline-block;
    margin: 49px 50px 0 0;
}

.li-items:last-child {
    margin-right: 0;
}

.items {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #D9D8E4;
    text-transform: uppercase;
}

.header-hero {
    display: flex;

}

.header-icons {
    display: flex;
}

.header-title {
    margin: 50px 0 0 200px;
}

.header-subtitle {
    margin: 10px 0 0 200px;
    width: 400px;
}

.title {
    font-weight: 600;
    font-size: 90px;
    text-transform: uppercase;
    color: #FCFDFF;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.icon-games,
.icon-horse,
.icon-knowledge{
    width: 140px;
    height: 140px;
}

.icon-games {
    margin: 45px 30px 0 0;
}

.icon-horse {
    margin: -8px 0 0 -59px;
}

.icon-knowledge {
    margin-top: 176px;
}

.games-items {
    background: #fff url("../images/games-bg.png") no-repeat;
    background-size: contain;
}

.games-buttons {
    display: flex;
    margin: 50px 0 60px 200px;
}

.game-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    padding: 0 10px;
    background-color: #fff;
    border: 2px solid #F2F4F9;
    color: #9A98AF;
    border-radius: 10px;
    margin-right: 15px;
}

.game-btn:last-child {
    margin-right: 0;
}

.game-btn:hover {
    color: #2376F2;
}

.container {
    margin-left: 200px;
}

.card-content {
    padding-top: 26px;
    padding-bottom: 36px;
}

card-title {
    margin-bottom: 18px;
}

.card-games {
    display: flex;
    width: 460px;
    height: 320px;
    background: #fff;
    box-shadow: 0 6px 20px rgb(61 70 118 / 8%);
    border-radius: 30px;
    padding: 0 30px 0 30px;
    margin-right: 20px;
    margin-bottom: 45px;
}

.card-wrapper {
    margin-right: 3px;
}

.games-image-inner {
    width: 255px;
    height: 230px;
    border-radius: 20px;
    position: relative;
    top: -30px;
}

.rating {
    position: absolute;
    left: 16px;
    top: 16px;
}

.card-buttons {
    display: flex;
    position: relative;
    bottom: -50px;
    left: 15px;
}

.card-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 18px;
    color: #222A3F;
}

.description {
    width: 220px;
}

.description-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #222A3F;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background: #fff url("../images/footer-bg.png") no-repeat;
    background-size: cover;
    height: 300px;
}

/*.footer-li-items {*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    margin: 0 50px 50px 0;*/
/*}*/

/*.footer-li-items:last-child {*/
/*    margin-right: 0;*/
/*}*/

.footer-nav{
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
}

.footer-items {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 50px;
}

.footer-items:last-child {
    margin-right: 0;
}